<h1>Password Tester</h1>
<input type="text" (input)="onChangePassword($event.target)" autocomplete="off" maxlength="20">
<h4 *ngIf="passwordValidation === true" style="color: green;">Password Valid!</h4>
<h4 *ngIf="passwordValidation === PasswordValidationErrorsEnum.MIN_LENGHT_8" style="color: red;">Error: min-length 8!</h4>
<h4 *ngIf="passwordValidation === PasswordValidationErrorsEnum.MAX_LENGHT_20" style="color: red;">Error: max-length 20!</h4>
<h4 *ngIf="passwordValidation === PasswordValidationErrorsEnum.AT_LEAST_ONE_LOWERCASE_LETTER" style="color: red;">Error: at leat one lowercase letter!</h4>
<h4 *ngIf="passwordValidation === PasswordValidationErrorsEnum.AT_LEAST_ONE_UPPERCASE_LETTER" style="color: red;">Error: at leat one uppercase letter!</h4>
<h4 *ngIf="passwordValidation === PasswordValidationErrorsEnum.AT_LEAST_ONE_NUMBER" style="color: red;">Error: at leat one number!</h4>
<h4 *ngIf="passwordValidation === PasswordValidationErrorsEnum.AT_LEAST_ONE_SPECIAL_CHAR" style="color: red;">Error: at leat one special char {{ PASSWORD_VALIDATION_SPECIAL_CHARS }}!</h4>
<h4 *ngIf="passwordValidation === PasswordValidationErrorsEnum.SEQUENTIAL_CHARS" style="color: red;">Error: sequential chars!</h4>
<h4 *ngIf="passwordValidation === PasswordValidationErrorsEnum.REPEATED_CHARS" style="color: red;">Error: repeated chars!</h4>
<h4 *ngIf="passwordValidation === PasswordValidationErrorsEnum.INVALID_CHARS" style="color: red;">Error: invalid chars!</h4>
<br>
<br>
<h1>Password Strength</h1>
<input type="text" (input)="onChangePasswordStrength($event.target)" autocomplete="off" maxlength="20">
<h4 style="color: green;">Password strength: {{ passwordStrength }}</h4>
<br>
<h1>Generate valid Password</h1>
<label for="">Length: </label>
<input type="text" autocomplete="off" placeholder="Length" name="validPasswordLength" [(ngModel)]="validPasswordLength">
<button type="button" (click)="generateValidPassword(validPasswordLength)">Generate</button>
<h4 style="color: green;">Password: {{ validPassword }}</h4>